/11 Problemas/Ejercicio1/nbproject/private/
/11 Problemas/Ejercicio1/build/
/11 Problemas/Ejercicio2/nbproject/private/
/11 Problemas/Ejercicio2/build/
/11 Problemas/Ejercicio3/nbproject/private/
/11 Problemas/Ejercicio3/build/
/11 Problemas/Ejercicio3/dist/
/11 Problemas/Ejercicio4/nbproject/private/
/11 Problemas/Ejercicio4/build/
/11 Problemas/Ejercicio5/nbproject/private/
/11 Problemas/Ejercicio5/build/
/11 Problemas/Ejercicio6/nbproject/private/
/11 Problemas/Ejercicio6/build/
/11 Problemas/Ejercicio7/nbproject/private/
/11 Problemas/Ejercicio7/build/
/11 Problemas/Ejercicio8/nbproject/private/
/11 Problemas/Ejercicio8/build/
/11 Problemas/Ejercicio9/nbproject/private/
/11 Problemas/Ejercicio9/build/
/11 Problemas/Ejercicio11/nbproject/private/
/11 Problemas/Ejercicio11/build/
/11 Problemas/Ejercicio10/nbproject/private/
/11 Problemas/Ejercicio10/build/
/15 Problemas/JavaApplication24/nbproject/private/
/15 Problemas/JavaApplication24/build/
/15 Problemas/DiagonalSecundaria/nbproject/private/
/15 Problemas/DiagonalSecundaria/build/
/15 Problemas/MatrizSumaParesImpares/nbproject/private/
/15 Problemas/MatrizSumaParesImpares/build/
/15 Problemas/AlumnosAsiganturas/nbproject/private/
/15 Problemas/AlumnosAsiganturas/build/
/15 Problemas/Alamacen/nbproject/private/
/15 Problemas/Alamacen/build/
/15 Problemas/Alamacen/dist/
/15 Problemas/OdenamientoMatriz/nbproject/private/
/15 Problemas/cuadradoMagico/nbproject/private/
/15 Problemas/cuadradoMagico/build/
/15 Problemas/TranspuestaDiagonalSecundaria/nbproject/private/
/15 Problemas/TranspuestaDiagonalSecundaria/build/
/15 Problemas/CuadradoAsteriscos/nbproject/private/
/15 Problemas/CuadradoAsteriscos/build/
/15 Problemas/Piramide/nbproject/private/
/15 Problemas/Piramide/build/
